In [18]:
from sklearn.impute import KNNImputer
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
housing = pd.read_csv("./data/housing.csv") 

# Generaci√≥n de conjuntos de entrenamiento y prueba mediante muestreo estratificado por ingreso medio
train_set, test_set = train_test_split(housing, test_size=0.2,
    stratify=pd.cut(housing["median_income"], bins=[0., 1.5, 3.0, 4.5, 6., np.inf], labels=[1, 2, 3, 4, 5]),
    random_state=42
    )

housing = train_set.drop("median_house_value", axis=1) # Eliminamos la columna de la variable dependiente
housing_labels = train_set["median_house_value"].copy() # Guardamos la variable dependiente (etiquetas)


housing.head()
housing = housing.drop("ocean_proximity",axis=1)
housing.head()
imputer = KNNImputer(n_neighbors=3)
housing_imputed =imputer.fit_transform(housing)
df_imputed = pd.DataFrame(housing_imputed,columns=housing.columns)
print(df_imputed.isnull().sum())
df_imputed.loc[[1606,4186]]

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
1606,-121.14,40.29,17.0,1944.0,394.0,384.0,172.0,1.6875
4186,-118.45,34.29,30.0,762.0,228.0,840.0,226.0,2.3375